.env
env
test.py
Scraper\__pycache__
Multiagent\__pycache__
Atsagent\__pycache__
Agent\__pycache__
__pycache__
jayanta_linkedin_Profile.pdf
resume_maker.drawio.png
resume-core.jpg
Jayanta-Roy-resume.pdf
chat_test2.py
chat_section.png
my_faiss_db
jayanta123_faiss_db

start code :- nohup python3 app.py start > app.log 2>&1 &