.env
env
test.py
Scraper\__pycache__
Multiagent\__pycache__
Atsagent\__pycache__
Agent\__pycache__
__pycache__
jayanta_linkedin_Profile.pdf
resume_maker.drawio.png
resume-core.jpg

start code :- nohup python3 app.py start > app.log 2>&1 &